<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Calculator</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.cd86c0f616f2db90.js" type="module"></script><script src="polyfills.7c00664a96c1d4ed.js" type="module"></script><script src="main.7439a198a76d4867.js" type="module"></script>

</body></html>